/* The website application component styles. */

.container {
	position: fixed;
	inset: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	align-items: stretch;
	container: app / size;
	background-color: var(--primary-50-900);
	color: var(--secondary-800-100);
	transition: all var(--slow-time) var(--ease-out);
	transition-property: background-color, color;
}

.toolbar, .viewer, .tabs {
	flex: 0 0 auto;
}

.toolbar {
	padding: var(--safe-header);
}

.viewer {
	position: relative;
	padding: var(--safe-main);
	flex: 1 0 auto;
}

.tabs {
	padding: var(--safe-footer);
}

.content {
	position: absolute;
	inset: 0;
	container: content / size;
	transition: right var(--normal-time) var(--fast-time) var(--ease-out);
	@container (min-inline-size: 1280px) {
		right: var(--small-container);
	}
}

.editor {
	position: absolute;
	z-index: var(--z-absolute);
	inset: 0 0 0 auto;
	display: block;
	inline-size: var(--small-container);
	container: editor / size;
	border-left: 1px var(--border-style) var(--primary-200-700);
	background-color: var(--primary-50-900);
	transition: transform var(--normal-time) var(--fast-time) var(--ease-out);
	@media not (prefers-reduced-transparency) {
		background-color: oklch(from var(--primary-50-900) l c h / var(--high-opacity));
		backdrop-filter: var(--heavy-blur);
	}
	@container (max-inline-size: 1280px) {
		&:not(:focus-within) {
			transform: translateX(100%);
		}
	}
}