/* The website HTML index styles. */

/* Import fonts: */
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nanum+Brush+Script&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Import packages: */
@import "bootstrap-icons";
@import "sanitize.css";
@import "semantic-props";

.semantic {
	--primary-color: #F9F0C8;
	--body-font: "Noto Sans", serif;
	--display-font: "Bellota", serif;
	--mono-font: "Noto Sans Mono", serif;
	--accent-font: "Nanum Brush Script", serif;
	@supports (color: light-dark(white, black)) {
		--primary-color: light-dark(#F9F0C8, var(--gray));
		color-scheme: light dark;
	}
	&.rendered {
		--display-font: "Noto Sans Display", serif;
	}
}

:root {
	background-color: var(--primary-50-900);
}